p {
  text-align: justify;
}

/* Estilo para os chunks de código */
.quarto-code-cell .code {
    background-color: #f5f5f5; /* Ajuste para uma cor clara que destaque */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    font-size: 0.95em;
}

/* Estiliza o texto do código para R */
.language-r .quarto-code {
    color: #2d2d2d; /* Cinza escuro */
}

/* Opcional: Remove bordas de código inline */
.quarto-code-inline {
    background-color: transparent;
    padding: 0;
}